#log_contain {
	padding-top: 100px;
}

#chat_contain {
	padding-top: 70px;
}

#panel_size {
	height: 593px;
}

#panel_size_users {
	height: 650px;
}

#sep_hr {
	margin-top: 10px;
	margin-bottom: 0px;
	width: 92%;
}
